/******************************/
/*****                    *****/
/*****                   ******/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****              ***********/
/*****             ************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/******************************/

/** This Place For State **/
.#{$theme_prefix_el} {
  &.js-text-loading {
    font-family: $roboto;
    font-size: inherit;
    letter-spacing: 0.4px;
    text-align: center;
    color: black;
    @include create_animation(blink_orange_text, 1200ms);
    &:after{
      content: 'Loading';
    }
  }
}
/*******************************/