/******************************/
/*****                    *****/
/*****                   ******/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****              ***********/
/*****             ************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/******************************/

/** This Place For Layout Header **/
.#{$theme_prefix_el} {
  &.l-header {
    //
    &.l-header--green {
      background: $theme_green_brand;
      color: white;
      
      & .toolbar__side-icon {
        & .btn__content {
          color: white;
        }
      }
      
    }
  }
}
/*******************************/