/******************************/
/*****                    *****/
/*****                   ******/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****              ***********/
/*****             ************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/*****     ********************/
/******************************/

/** This Place For Custom **/
#nprogress {
  & .bar {
    background: $theme-orange;
  }
  
  & .peg {
//    $nprogress-shadow: '0 0 10px #29d, 0 0 5px #29d';
    box-shadow: 0 0 10px $theme-orange, 0 0 5px $theme-orange;
  }
  
  & .spinner-icon {
    border-top-color: $theme-orange;
    border-left-color: $theme-orange;
  }
}
/*******************************/